[submodule "InfiniTime"]
	path = InfiniTime
	url = ../../NeroBurner/InfiniTime.git
[submodule "lv_drivers"]
	path = lv_drivers
	url = ../../lvgl/lv_drivers.git
[submodule "libpng"]
	path = libpng
	url = ../../glennrp/libpng.git
