[submodule "InfiniTime"]
	path = InfiniTime
	url = ../../InfiniTimeOrg/InfiniTime.git
[submodule "lv_drivers"]
	path = lv_drivers
	url = ../../lvgl/lv_drivers.git
[submodule "libpng"]
	path = libpng
	url = git@github.com:glennrp/libpng.git
